@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}


.headwrapper{
    max-width: 100%;
    height: 60em;
    background-color: hsl(193, 100%, 96%);
    background-image: url(/img/bg-hero-desktop.svg);
    padding-top: 4em;
    padding-left: 5em;
    padding-right: 5em;
}

#logo{
    width: 15em;
    float: left;
}

#navbar{
    float: right;
    width: 18em;
    border-radius: 10em;
    border: none;
    background-color: white;
    padding: 1.8em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.253);
}

.headwrapper .headcontent{
    clear: both;
    margin-top: 10em;
    max-width: 100%;
}

.headcontent h1{
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    float: left;
    
}


.headcontent p{
    clear: both;
    float: left;
    background-color: aquamarine;
}

.headcontent img{
    clear: both;
    float: right;
    max-width: 60em;
}

