@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerbackground{
    min-height: 60em;
    max-width: 100%;
    padding-top: 4em;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 15em;
    background-color: hsl(193, 100%, 96%);
    background-image: url(/img/bg-hero-desktop.svg);
}

.navbar{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar .logo{
    width: 15em;
    
}

.navbar img{
    width: 100%;
    margin-top: 1em;
}

.navbutton{
    width: 15em;
}


.navbar button{
    padding: 2em;
    width: 100%;
    border-radius: 5em;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: white;
    color: hsl(192, 100%, 9%);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.247);
    cursor: pointer;
}

.headercontent{
    margin: auto;
    margin-top: 7em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text{
    margin-top: 7em;
}

.text h1{
    font-size: 3em;
    margin-bottom: 0.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
}

.text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 31em;
    font-size: 1.3em;
    color: hsl(192, 100%, 9%);
    margin-bottom: 2em;
}

.textbutton{
    width: 25em;

}

.text button{
    width: 100%;
    padding: 2em;
    font-size: 1em;
    border-radius: 10em;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 1px 1px 20px hsla(322, 100%, 66%, 0.466);
    cursor: pointer;
}

.text button:hover{
    background-color: hsla(322, 100%, 66%, 0.637);
}

.mockup{
    width: 55em;
}

.mockup img{
    width: 100%;
}

.container{
    margin: auto;
    margin-bottom: 3em;
    padding-left: 6em;
    padding-right: 7em;
    border: none;
    max-width: 85%;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    height: 35em;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.158);
}

.ltext{
    margin-top: 13em;
}

.ltext h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

.ltext p{
    color: hsl(208, 11%, 55%);
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container .img{
    width: 35em;
    margin-top: 3em;
    margin-bottom: 3em;
    border: 1px solid black;
}

.container .one{
    background-image: url(/img/illustration-grow-together.svg);
    background-size: cover;
}

.container .two{
    background-image: url(/img/illustration-flowing-conversation.svg);
    background-size: cover;
}

.container .three{
    background-image: url(/img/illustration-your-users.svg);
    background-size: cover;
}



.cta{
    position: relative;
    margin: auto;
    margin-top: 10em;
    max-width: 60%;
    height: 25em;
    padding: 5em;
    border: none;
    border-radius: 1.5em;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.158);
    z-index: 3;  
}

.ctacontent{
    margin: auto;
    max-width: 55%;
    margin-top: 2.5em;
}

.cta h1{
    text-align: center;
    color: hsl(192, 100%, 9%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

.cta button{
    padding: 1.5em;
    border-radius: 5em;
    width: 100%;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    box-shadow: 1px 1px 20px hsla(322, 100%, 66%, 0.589);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    cursor: pointer;
}

.cta button:hover{
    background-color: hsla(322, 100%, 66%, 0.637);
}



.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: hsl(192, 100%, 9%);
    height: 40em;
    margin-top: -10em;
    z-index: -3;
}

@media (max-width: 600px){

    .headerbackground{
        min-height: 70em;
        max-width: 100%;
    }


    .navbar img{
        width: 7em;
    }


    .navbar button{
        float: right;
        padding: 1em;
        width: 10em;
    }

    .headercontent{
        margin: auto;
        margin-top: 1em;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    
    .text h1{
        text-align: center;
        font-size: 2em;
        margin-bottom: 1em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: hsl(192, 100%, 9%);
    }
    
    .text p{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        width: 20.5em;
        color: hsl(192, 100%, 9%);
        margin-bottom: 1em;
    }
    
    .textbutton{
        margin: auto;
        width: 25em;
        padding: 2em;
        margin-bottom: 1em;

    }

    .text button{
        width: 100%;
    }

    .container{
        display: flex;
        flex-wrap: wrap-reverse;
        height: 35em;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.158);
    }

}